.box {
    display: none;
    width: 100%;
    
}

a:hover+.box,
.box:hover {
    display: block;
    position: fixed;
    top: 0;
    z-index: 100;
     
}

td {
    border: solid black 1px;
    align-content: center;
    padding: 10px;
}
